
body {
    margin: 0px;
    background-color:aqua;
}

.top-container {
    width: 100%;
    color: white;
    align-items: center;
}
.Player-Computer{
      width:70%;
      margin: 0px auto;
      padding-top: 30px;
      display: flex;
      align-content: center;
      justify-content: space-between;
}
.player{
      width:25%;
      background-color: black;
      border-radius: 10px;
      margin: 0px auto;
      padding-top: 20px;
      font-size: 35px;
      font-weight: bolder;
      text-align: center;
}
.computer{
    width:25%;
    background-color: black;
    border-radius: 10px;
    margin: 0px auto;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}
.select{
    width:70%;
    margin: 0px auto;
    padding-top: 30px;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}
.playerSelect{
    width:25%;
    height: 50px;
    background-color:white;
    color:black;
    border-radius: 10px;
    padding-top: 20px;
    margin: 0px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.computerSelect{
    width:25%;
    height: 50px;
    background-color:white;
    color: black;
    border-radius: 10px;
    padding-top: 20px;
    margin: 0px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.score{
    width:70%;
    margin: 0px auto;
    padding-top: 40px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.playerScore{
    width:25%;
    background-color: black;
    border-radius: 10px;
    margin: 0px auto;
    padding: 10px 0px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}
.computerScore{
  width:25%;
  background-color: black;
  border-radius: 10px;
  margin: 0px auto;
  padding: 10px 0px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}
.score2{
    width:70%;
    margin: 0px auto;
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
.playerScore2{
    width:25%;
    height: 50px;
    background-color:white;
    color: black;
    border-radius: 10px;
    padding-top: 20px;
    margin: 0px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.computerScore2{
    width:25%;
    height: 50px;
    background-color:white;
    color: black;
    border-radius: 10px;
    padding-top: 20px;
    margin: 0px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.winner{
    width:70%;
    margin: 0px auto;
    padding-top: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.winner-list{
    width:25%;
    background-color: black;
    border-radius: 10px;
    margin: 0px auto;
    padding: 10px 0px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    display: none;
}
.winner-name{
  width:25%;
  background-color: black;
  border-radius: 10px;
  margin: 0px auto;
  padding: 10px 0px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  display: none;
}
.play{
    display:flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    justify-content: space-around;
}

.click{
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.choice{
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    /* display: none; */
}
.option{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    padding-right: 30px;
    display: none;
}

.hidden{
    display: none;
}
.play h2{
    color: black;
}
